@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  /* Default Theme */

  :root {
    /* Design Tokens */

    --background-primary: hsl(0, 0%, 100%);
    --background-secondary: hsl(0, 0%, 98%);

    --fill-primary: hsl(100, 0%, 100%);
    --fill-primary-hover: hsl(0, 0%, 98%);
    --fill-primary-active: hsl(0, 0%, 96%);
    --fill-primary-selected: hsl(0, 0%, 96%);
    --fill-brand: hsl(220, 87%, 55%);

    --text-primary: hsl(220, 26%, 14%);
    --text-primary-hover: hsl(220, 26%, 18%);
    --text-primary-active: hsl(220, 26%, 24%);
    --text-primary-on-fill: hsl(220, 26%, 98%);

    --text-secondary: hsl(220, 3%, 47%);
    --text-secondary-hover: hsl(220, 3%, 42%);
    --text-secondary-active: hsl(220, 3%, 37%);
    --text-secondary-on-fill: hsl(220, 3%, 98%);

    --text-brand: hsl(220, 87%, 55%);
    --text-brand-hover: hsl(220, 87%, 48%);
    --text-brand-active: hsl(220, 87%, 42%);
    --text-brand-on-fill: hsl(220, 3%, 98%);

    --border-primary: hsl(220, 9%, 91%);
    --border-primary-hover: hsl(220, 9%, 83%);
    --border-primary-active: hsl(220, 9%, 75%);
    --border-primary-selected: hsl(220, 9%, 67%);

    --surface-primary: hsl(0, 0%, 100%);
    --surface-secondary: hsl(0, 0%, 98%);

    /* Theme variables */

    --header-surface: var(--surface-primary);
    --header-border: transparent;

  }

  /* Dark Theme */

  :root[data-theme='dark'] {
    
    /* Design Tokens */
    --background-primary: hsl(220, 10%, 12%);
    --background-secondary: hsl(220, 8%, 15%);

    --fill-primary: hsl(220, 10%, 12%);
    --fill-primary-hover: hsl(220, 10%, 18%);
    --fill-primary-active: hsl(220, 10%, 24%);
    --fill-primary-selected: hsl(220, 10%, 24%);
    --fill-brand: hsl(220, 87%, 55%);

    --text-primary: hsl(220, 26%, 98%);
    --text-primary-hover: hsl(220, 26%, 94%);
    --text-primary-active: hsl(220, 26%, 88%);
    --text-primary-on-fill: hsl(220, 26%, 98%);

    --text-secondary: hsl(220, 3%, 54%);
    --text-secondary-hover: hsl(220, 3%, 49%);
    --text-secondary-active: hsl(220, 3%, 44%);
    --text-secondary-on-fill: hsl(220, 3%, 98%);

    --text-brand: hsl(220, 87%, 55%);
    --text-brand-hover: hsl(220, 87%, 48%);
    --text-brand-active: hsl(220, 87%, 42%);
    --text-brand-on-fill: hsl(220, 3%, 98%);

    --border-primary: hsl(220, 9%, 20%);
    --border-primary-hover: hsl(220, 9%, 28%);
    --border-primary-active: hsl(220, 9%, 36%);
    --border-primary-selected: hsl(220, 9%, 44%);

    --surface-primary: var(--background-primary);
    --surface-secondary: var(--background-secondary);

    /* Theme variables */

    --header-surface: var(--surface-primary);
    --header-border: transparent;

    .shiki,
    .shiki span {
      color: var(--shiki-dark) !important;
      background-color: var(--shiki-dark-bg) !important;
    }
  }

  :root[data-theme='paper'] {
    
    /* Design Tokens */
    --background-primary: hsl(220, 3%, 93%);
    --background-secondary: hsl(220, 3%, 90%);

    --fill-primary: hsl(220, 3%, 93%);
    --fill-primary-hover: hsl(220, 3%, 90%);
    --fill-primary-active: hsl(220, 3%, 87%);
    --fill-primary-selected: hsl(220, 3%, 87%);
    --fill-brand: hsl(220, 87%, 55%);

    --text-primary: hsl(220, 26%, 14%);
    --text-primary-hover: hsl(220, 26%, 18%);
    --text-primary-active: hsl(220, 26%, 24%);
    --text-primary-on-fill: hsl(220, 26%, 98%);

    --text-secondary: hsl(220, 26%, 24%);
    --text-secondary-hover: hsl(220, 26%, 18%);
    --text-secondary-active: hsl(220, 26%, 14%);
    --text-secondary-on-fill: hsl(220, 26%, 98%);

    --text-brand: var(--text-primary);
    --text-brand-hover: var(--text-primary-hover);
    --text-brand-active: var(--text-primary-active);
    --text-brand-on-fill: var(--text-primary-on-fill);

    --border-primary: hsl(220, 9%, 85%);
    --border-primary-hover: hsl(220, 9%, 77%);
    --border-primary-active: hsl(220, 9%, 69%);
    --border-primary-selected: hsl(220, 9%, 61%);

    --surface-primary: var(--background-primary);
    --surface-secondary: var(--background-secondary);

    /* Theme variables */

    --header-surface: var(--surface-primary);
    --header-border: transparent;

    .shiki,
    .shiki span {
      color: var(--shiki-paper) !important;
      background-color: var(--shiki-paper-bg) !important;
    }
  }
}

* {
  @apply transition-colors duration-200
}
